.app {
  background: linear-gradient(135deg, #006400, #228B22, #FFD700);
}

a{
  text-decoration: none;
}

.btn {
  background: linear-gradient(135deg, #006400, #228B22, #FFD700);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}