/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #013220; /* deep green */
    padding: 0 40px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .meadow-logo{
    width: 100px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #FFD700; /* gold hover */
  }
  